h1{
text-align: center;
color:red;
font-family:festive ;
font-size: 3rem;
}
p{
 color:red;
font-family: roboto;
}
h2{
color:red;
font-family: firasans;
}
li{
    color:red;
    font-family: plus jarkatan plus;
}